GIBProviders/Connected Services/ServiceVeriban/TransferDocumentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferDocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ITransferDocumentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://transfertest.veriban.com.tr/TransferDocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://transfertest.veriban.com.tr/TransferDocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://transfertest.veriban.com.tr/TransferDocumentService.svc?xsd=xsd2" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransferDocumentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Login_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Logout_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Transfer_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Transfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_Transfer_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_TransferByInvoiceString_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferByInvoiceString" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_TransferByInvoiceString_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferByInvoiceStringResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_TransferByInvoiceString_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceStatus" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceStatus_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetPassivePeriodInvoiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassivePeriodInvoiceStatus" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetPassivePeriodInvoiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPassivePeriodInvoiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetPassivePeriodInvoiceStatus_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetDespatchStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDespatchStatus" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetDespatchStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDespatchStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetDespatchStatus_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetBuyerInvoiceXmlContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerInvoiceXmlContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetBuyerInvoiceXmlContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerInvoiceXmlContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetBuyerInvoiceXmlContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveInvoiceContent_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvoiceContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveInvoiceContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvoiceContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveInvoiceContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveInvoiceContentDone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvoiceContentDone" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveInvoiceContentDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvoiceContentDoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveInvoiceContentDone_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceivePassivePeriodInvoiceContent_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePassivePeriodInvoiceContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceivePassivePeriodInvoiceContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePassivePeriodInvoiceContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceivePassivePeriodInvoiceContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceivePassivePeriodInvoiceContentDone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePassivePeriodInvoiceContentDone" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceivePassivePeriodInvoiceContentDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePassivePeriodInvoiceContentDoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceivePassivePeriodInvoiceContentDone_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveDespatchContent_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDespatchContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveDespatchContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDespatchContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveDespatchContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AnswerReceiveDespatchContent_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerReceiveDespatchContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AnswerReceiveDespatchContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerReceiveDespatchContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AnswerReceiveDespatchContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AnswerBuyerDespatchContent_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerBuyerDespatchContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AnswerBuyerDespatchContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerBuyerDespatchContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AnswerBuyerDespatchContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveDespatchContentDone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDespatchContentDone" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveDespatchContentDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDespatchContentDoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ReceiveDespatchContentDone_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadInvoiceUUIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnReadInvoiceUUIdList" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadInvoiceUUIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnReadInvoiceUUIdListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadInvoiceUUIdList_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceXmlContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceXmlContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceXmlContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceXmlContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceXmlContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadDespatchUUIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnReadDespatchUUIdList" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadDespatchUUIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnReadDespatchUUIdListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadDespatchUUIdList_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetDespatchXmlContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDespatchXmlContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetDespatchXmlContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDespatchXmlContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetDespatchXmlContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadInvoiceUUIdListbyDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnReadInvoiceUUIdListbyDate" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadInvoiceUUIdListbyDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnReadInvoiceUUIdListbyDateResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetUnReadInvoiceUUIdListbyDate_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetBuyerInvoiceUUIdListbyDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerInvoiceUUIdListbyDate" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetBuyerInvoiceUUIdListbyDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyerInvoiceUUIdListbyDateResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetBuyerInvoiceUUIdListbyDate_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetWaitApproveInvoiceUUIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitApproveInvoiceUUIdList" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetWaitApproveInvoiceUUIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitApproveInvoiceUUIdListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetWaitApproveInvoiceUUIdList_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetInvoiceResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetInvoiceResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInvoiceResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetInvoiceResponse_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetWaitApproveDespatchUUIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitApproveDespatchUUIdList" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetWaitApproveDespatchUUIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitApproveDespatchUUIdListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetWaitApproveDespatchUUIdList_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetDespatchResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDespatchResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetDespatchResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDespatchResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetDespatchResponse_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetAllCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerList" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetAllCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetAllCustomerList_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CheckIsThereCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIsThereCustomer" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CheckIsThereCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIsThereCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CheckIsThereCustomer_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDocumentFromUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewDocumentFromUUID" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDocumentFromUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewDocumentFromUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDocumentFromUUID_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDespatchDocumentFromUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewDespatchDocumentFromUUID" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDespatchDocumentFromUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewDespatchDocumentFromUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDespatchDocumentFromUUID_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDespatchAnswerDocumentFromUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewDespatchAnswerDocumentFromUUID" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDespatchAnswerDocumentFromUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewDespatchAnswerDocumentFromUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ViewDespatchAnswerDocumentFromUUID_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetSellerBuyerInvoiceUUIDList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSellerBuyerInvoiceUUIDList" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetSellerBuyerInvoiceUUIDList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSellerBuyerInvoiceUUIDListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetSellerBuyerInvoiceUUIDList_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ConnectionTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionTest" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ConnectionTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionTestResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AllowToUseConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:AllowToUseConnector" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AllowToUseConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllowToUseConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AllowToUseConnector_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CheckSessionAccountRegisterNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSessionAccountRegisterNumber" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CheckSessionAccountRegisterNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSessionAccountRegisterNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CheckSessionAccountRegisterNumber_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSeries" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerSeries_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerInformation" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerInformation_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceStatusForConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceStatusForConnector" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceStatusForConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceStatusForConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_GetInvoiceStatusForConnector_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SalesInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:SalesInvoices" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SalesInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalesInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SalesInvoices_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_PurchaseInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseInvoices" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_PurchaseInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_PurchaseInvoices_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetToReadStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetToReadStatus" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetToReadStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetToReadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetToReadStatus_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetToTransferredErpStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetToTransferredErpStatus" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetToTransferredErpStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetToTransferredErpStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_SetToTransferredErpStatus_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AddInvoiceSerie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceSerie" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AddInvoiceSerie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceSerieResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_AddInvoiceSerie_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_DeleteInvoiceSerie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInvoiceSerie" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_DeleteInvoiceSerie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInvoiceSerieResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_DeleteInvoiceSerie_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerInfoUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerInfoUpdate" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerInfoUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerInfoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_CustomerInfoUpdate_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_DownloadInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadInvoice" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_DownloadInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_DownloadInvoice_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_InvoiceContent_InputMessage">
    <wsdl:part name="parameters" element="tns:InvoiceContent" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_InvoiceContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvoiceContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_InvoiceContent_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_InvoiceSerieUp_InputMessage">
    <wsdl:part name="parameters" element="tns:InvoiceSerieUp" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_InvoiceSerieUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvoiceSerieUpResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_InvoiceSerieUp_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ActiveSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveSystem" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ActiveSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveSystemResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferDocumentService_ActiveSystem_EFaturaFault_FaultMessage">
    <wsdl:part name="detail" element="tns:EFaturaFault" />
  </wsdl:message>
  <wsdl:portType name="ITransferDocumentService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="Login" message="tns:ITransferDocumentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="Login" message="tns:ITransferDocumentService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="Login" name="EFaturaFault" message="tns:ITransferDocumentService_Login_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="Logout" message="tns:ITransferDocumentService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="Logout" message="tns:ITransferDocumentService_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="Logout" name="EFaturaFault" message="tns:ITransferDocumentService_Logout_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <wsdl:input wsaw:Action="Transfer" message="tns:ITransferDocumentService_Transfer_InputMessage" />
      <wsdl:output wsaw:Action="Transfer" message="tns:ITransferDocumentService_Transfer_OutputMessage" />
      <wsdl:fault wsaw:Action="Transfer" name="EFaturaFault" message="tns:ITransferDocumentService_Transfer_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferByInvoiceString">
      <wsdl:input wsaw:Action="TransferByInvoiceString" message="tns:ITransferDocumentService_TransferByInvoiceString_InputMessage" />
      <wsdl:output wsaw:Action="TransferByInvoiceString" message="tns:ITransferDocumentService_TransferByInvoiceString_OutputMessage" />
      <wsdl:fault wsaw:Action="TransferByInvoiceString" name="EFaturaFault" message="tns:ITransferDocumentService_TransferByInvoiceString_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceStatus">
      <wsdl:input wsaw:Action="GetInvoiceStatus" message="tns:ITransferDocumentService_GetInvoiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="GetInvoiceStatus" message="tns:ITransferDocumentService_GetInvoiceStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="GetInvoiceStatus" name="EFaturaFault" message="tns:ITransferDocumentService_GetInvoiceStatus_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassivePeriodInvoiceStatus">
      <wsdl:input wsaw:Action="GetPassivePeriodInvoiceStatus" message="tns:ITransferDocumentService_GetPassivePeriodInvoiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="GetPassivePeriodInvoiceStatus" message="tns:ITransferDocumentService_GetPassivePeriodInvoiceStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="GetPassivePeriodInvoiceStatus" name="EFaturaFault" message="tns:ITransferDocumentService_GetPassivePeriodInvoiceStatus_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDespatchStatus">
      <wsdl:input wsaw:Action="GetDespatchStatus" message="tns:ITransferDocumentService_GetDespatchStatus_InputMessage" />
      <wsdl:output wsaw:Action="GetDespatchStatus" message="tns:ITransferDocumentService_GetDespatchStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="GetDespatchStatus" name="EFaturaFault" message="tns:ITransferDocumentService_GetDespatchStatus_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyerInvoiceXmlContent">
      <wsdl:input wsaw:Action="GetBuyerInvoiceXmlContent" message="tns:ITransferDocumentService_GetBuyerInvoiceXmlContent_InputMessage" />
      <wsdl:output wsaw:Action="GetBuyerInvoiceXmlContent" message="tns:ITransferDocumentService_GetBuyerInvoiceXmlContent_OutputMessage" />
      <wsdl:fault wsaw:Action="GetBuyerInvoiceXmlContent" name="EFaturaFault" message="tns:ITransferDocumentService_GetBuyerInvoiceXmlContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvoiceContent">
      <wsdl:input wsaw:Action="ReceiveInvoiceContent" message="tns:ITransferDocumentService_ReceiveInvoiceContent_InputMessage" />
      <wsdl:output wsaw:Action="ReceiveInvoiceContent" message="tns:ITransferDocumentService_ReceiveInvoiceContent_OutputMessage" />
      <wsdl:fault wsaw:Action="ReceiveInvoiceContent" name="EFaturaFault" message="tns:ITransferDocumentService_ReceiveInvoiceContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvoiceContentDone">
      <wsdl:input wsaw:Action="ReceiveInvoiceContentDone" message="tns:ITransferDocumentService_ReceiveInvoiceContentDone_InputMessage" />
      <wsdl:output wsaw:Action="ReceiveInvoiceContentDone" message="tns:ITransferDocumentService_ReceiveInvoiceContentDone_OutputMessage" />
      <wsdl:fault wsaw:Action="ReceiveInvoiceContentDone" name="EFaturaFault" message="tns:ITransferDocumentService_ReceiveInvoiceContentDone_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePassivePeriodInvoiceContent">
      <wsdl:input wsaw:Action="ReceivePassivePeriodInvoiceContent" message="tns:ITransferDocumentService_ReceivePassivePeriodInvoiceContent_InputMessage" />
      <wsdl:output wsaw:Action="ReceivePassivePeriodInvoiceContent" message="tns:ITransferDocumentService_ReceivePassivePeriodInvoiceContent_OutputMessage" />
      <wsdl:fault wsaw:Action="ReceivePassivePeriodInvoiceContent" name="EFaturaFault" message="tns:ITransferDocumentService_ReceivePassivePeriodInvoiceContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePassivePeriodInvoiceContentDone">
      <wsdl:input wsaw:Action="ReceivePassivePeriodInvoiceContentDone" message="tns:ITransferDocumentService_ReceivePassivePeriodInvoiceContentDone_InputMessage" />
      <wsdl:output wsaw:Action="ReceivePassivePeriodInvoiceContentDone" message="tns:ITransferDocumentService_ReceivePassivePeriodInvoiceContentDone_OutputMessage" />
      <wsdl:fault wsaw:Action="ReceivePassivePeriodInvoiceContentDone" name="EFaturaFault" message="tns:ITransferDocumentService_ReceivePassivePeriodInvoiceContentDone_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDespatchContent">
      <wsdl:input wsaw:Action="ReceiveDespatchContent" message="tns:ITransferDocumentService_ReceiveDespatchContent_InputMessage" />
      <wsdl:output wsaw:Action="ReceiveDespatchContent" message="tns:ITransferDocumentService_ReceiveDespatchContent_OutputMessage" />
      <wsdl:fault wsaw:Action="ReceiveDespatchContent" name="EFaturaFault" message="tns:ITransferDocumentService_ReceiveDespatchContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerReceiveDespatchContent">
      <wsdl:input wsaw:Action="AnswerReceiveDespatchContent" message="tns:ITransferDocumentService_AnswerReceiveDespatchContent_InputMessage" />
      <wsdl:output wsaw:Action="AnswerReceiveDespatchContent" message="tns:ITransferDocumentService_AnswerReceiveDespatchContent_OutputMessage" />
      <wsdl:fault wsaw:Action="AnswerReceiveDespatchContent" name="EFaturaFault" message="tns:ITransferDocumentService_AnswerReceiveDespatchContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerBuyerDespatchContent">
      <wsdl:input wsaw:Action="AnswerBuyerDespatchContent" message="tns:ITransferDocumentService_AnswerBuyerDespatchContent_InputMessage" />
      <wsdl:output wsaw:Action="AnswerBuyerDespatchContent" message="tns:ITransferDocumentService_AnswerBuyerDespatchContent_OutputMessage" />
      <wsdl:fault wsaw:Action="AnswerBuyerDespatchContent" name="EFaturaFault" message="tns:ITransferDocumentService_AnswerBuyerDespatchContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDespatchContentDone">
      <wsdl:input wsaw:Action="ReceiveDespatchContentDone" message="tns:ITransferDocumentService_ReceiveDespatchContentDone_InputMessage" />
      <wsdl:output wsaw:Action="ReceiveDespatchContentDone" message="tns:ITransferDocumentService_ReceiveDespatchContentDone_OutputMessage" />
      <wsdl:fault wsaw:Action="ReceiveDespatchContentDone" name="EFaturaFault" message="tns:ITransferDocumentService_ReceiveDespatchContentDone_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnReadInvoiceUUIdList">
      <wsdl:input wsaw:Action="GetUnReadInvoiceUUIdList" message="tns:ITransferDocumentService_GetUnReadInvoiceUUIdList_InputMessage" />
      <wsdl:output wsaw:Action="GetUnReadInvoiceUUIdList" message="tns:ITransferDocumentService_GetUnReadInvoiceUUIdList_OutputMessage" />
      <wsdl:fault wsaw:Action="GetUnReadInvoiceUUIdList" name="EFaturaFault" message="tns:ITransferDocumentService_GetUnReadInvoiceUUIdList_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceXmlContent">
      <wsdl:input wsaw:Action="GetInvoiceXmlContent" message="tns:ITransferDocumentService_GetInvoiceXmlContent_InputMessage" />
      <wsdl:output wsaw:Action="GetInvoiceXmlContent" message="tns:ITransferDocumentService_GetInvoiceXmlContent_OutputMessage" />
      <wsdl:fault wsaw:Action="GetInvoiceXmlContent" name="EFaturaFault" message="tns:ITransferDocumentService_GetInvoiceXmlContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnReadDespatchUUIdList">
      <wsdl:input wsaw:Action="GetUnReadDespatchUUIdList" message="tns:ITransferDocumentService_GetUnReadDespatchUUIdList_InputMessage" />
      <wsdl:output wsaw:Action="GetUnReadDespatchUUIdList" message="tns:ITransferDocumentService_GetUnReadDespatchUUIdList_OutputMessage" />
      <wsdl:fault wsaw:Action="GetUnReadDespatchUUIdList" name="EFaturaFault" message="tns:ITransferDocumentService_GetUnReadDespatchUUIdList_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDespatchXmlContent">
      <wsdl:input wsaw:Action="GetDespatchXmlContent" message="tns:ITransferDocumentService_GetDespatchXmlContent_InputMessage" />
      <wsdl:output wsaw:Action="GetDespatchXmlContent" message="tns:ITransferDocumentService_GetDespatchXmlContent_OutputMessage" />
      <wsdl:fault wsaw:Action="GetDespatchXmlContent" name="EFaturaFault" message="tns:ITransferDocumentService_GetDespatchXmlContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnReadInvoiceUUIdListbyDate">
      <wsdl:input wsaw:Action="GetUnReadInvoiceUUIdListbyDate" message="tns:ITransferDocumentService_GetUnReadInvoiceUUIdListbyDate_InputMessage" />
      <wsdl:output wsaw:Action="GetUnReadInvoiceUUIdListbyDate" message="tns:ITransferDocumentService_GetUnReadInvoiceUUIdListbyDate_OutputMessage" />
      <wsdl:fault wsaw:Action="GetUnReadInvoiceUUIdListbyDate" name="EFaturaFault" message="tns:ITransferDocumentService_GetUnReadInvoiceUUIdListbyDate_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyerInvoiceUUIdListbyDate">
      <wsdl:input wsaw:Action="GetBuyerInvoiceUUIdListbyDate" message="tns:ITransferDocumentService_GetBuyerInvoiceUUIdListbyDate_InputMessage" />
      <wsdl:output wsaw:Action="GetBuyerInvoiceUUIdListbyDate" message="tns:ITransferDocumentService_GetBuyerInvoiceUUIdListbyDate_OutputMessage" />
      <wsdl:fault wsaw:Action="GetBuyerInvoiceUUIdListbyDate" name="EFaturaFault" message="tns:ITransferDocumentService_GetBuyerInvoiceUUIdListbyDate_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaitApproveInvoiceUUIdList">
      <wsdl:input wsaw:Action="GetWaitApproveInvoiceUUIdList" message="tns:ITransferDocumentService_GetWaitApproveInvoiceUUIdList_InputMessage" />
      <wsdl:output wsaw:Action="GetWaitApproveInvoiceUUIdList" message="tns:ITransferDocumentService_GetWaitApproveInvoiceUUIdList_OutputMessage" />
      <wsdl:fault wsaw:Action="GetWaitApproveInvoiceUUIdList" name="EFaturaFault" message="tns:ITransferDocumentService_GetWaitApproveInvoiceUUIdList_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInvoiceResponse">
      <wsdl:input wsaw:Action="SetInvoiceResponse" message="tns:ITransferDocumentService_SetInvoiceResponse_InputMessage" />
      <wsdl:output wsaw:Action="SetInvoiceResponse" message="tns:ITransferDocumentService_SetInvoiceResponse_OutputMessage" />
      <wsdl:fault wsaw:Action="SetInvoiceResponse" name="EFaturaFault" message="tns:ITransferDocumentService_SetInvoiceResponse_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaitApproveDespatchUUIdList">
      <wsdl:input wsaw:Action="GetWaitApproveDespatchUUIdList" message="tns:ITransferDocumentService_GetWaitApproveDespatchUUIdList_InputMessage" />
      <wsdl:output wsaw:Action="GetWaitApproveDespatchUUIdList" message="tns:ITransferDocumentService_GetWaitApproveDespatchUUIdList_OutputMessage" />
      <wsdl:fault wsaw:Action="GetWaitApproveDespatchUUIdList" name="EFaturaFault" message="tns:ITransferDocumentService_GetWaitApproveDespatchUUIdList_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDespatchResponse">
      <wsdl:input wsaw:Action="SetDespatchResponse" message="tns:ITransferDocumentService_SetDespatchResponse_InputMessage" />
      <wsdl:output wsaw:Action="SetDespatchResponse" message="tns:ITransferDocumentService_SetDespatchResponse_OutputMessage" />
      <wsdl:fault wsaw:Action="SetDespatchResponse" name="EFaturaFault" message="tns:ITransferDocumentService_SetDespatchResponse_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerList">
      <wsdl:input wsaw:Action="GetAllCustomerList" message="tns:ITransferDocumentService_GetAllCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="GetAllCustomerList" message="tns:ITransferDocumentService_GetAllCustomerList_OutputMessage" />
      <wsdl:fault wsaw:Action="GetAllCustomerList" name="EFaturaFault" message="tns:ITransferDocumentService_GetAllCustomerList_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIsThereCustomer">
      <wsdl:input wsaw:Action="CheckIsThereCustomer" message="tns:ITransferDocumentService_CheckIsThereCustomer_InputMessage" />
      <wsdl:output wsaw:Action="CheckIsThereCustomer" message="tns:ITransferDocumentService_CheckIsThereCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="CheckIsThereCustomer" name="EFaturaFault" message="tns:ITransferDocumentService_CheckIsThereCustomer_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewDocumentFromUUID">
      <wsdl:input wsaw:Action="ViewDocumentFromUUID" message="tns:ITransferDocumentService_ViewDocumentFromUUID_InputMessage" />
      <wsdl:output wsaw:Action="ViewDocumentFromUUID" message="tns:ITransferDocumentService_ViewDocumentFromUUID_OutputMessage" />
      <wsdl:fault wsaw:Action="ViewDocumentFromUUID" name="EFaturaFault" message="tns:ITransferDocumentService_ViewDocumentFromUUID_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewDespatchDocumentFromUUID">
      <wsdl:input wsaw:Action="ViewDespatchDocumentFromUUID" message="tns:ITransferDocumentService_ViewDespatchDocumentFromUUID_InputMessage" />
      <wsdl:output wsaw:Action="ViewDespatchDocumentFromUUID" message="tns:ITransferDocumentService_ViewDespatchDocumentFromUUID_OutputMessage" />
      <wsdl:fault wsaw:Action="ViewDespatchDocumentFromUUID" name="EFaturaFault" message="tns:ITransferDocumentService_ViewDespatchDocumentFromUUID_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewDespatchAnswerDocumentFromUUID">
      <wsdl:input wsaw:Action="ViewDespatchAnswerDocumentFromUUID" message="tns:ITransferDocumentService_ViewDespatchAnswerDocumentFromUUID_InputMessage" />
      <wsdl:output wsaw:Action="ViewDespatchAnswerDocumentFromUUID" message="tns:ITransferDocumentService_ViewDespatchAnswerDocumentFromUUID_OutputMessage" />
      <wsdl:fault wsaw:Action="ViewDespatchAnswerDocumentFromUUID" name="EFaturaFault" message="tns:ITransferDocumentService_ViewDespatchAnswerDocumentFromUUID_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSellerBuyerInvoiceUUIDList">
      <wsdl:input wsaw:Action="GetSellerBuyerInvoiceUUIDList" message="tns:ITransferDocumentService_GetSellerBuyerInvoiceUUIDList_InputMessage" />
      <wsdl:output wsaw:Action="GetSellerBuyerInvoiceUUIDList" message="tns:ITransferDocumentService_GetSellerBuyerInvoiceUUIDList_OutputMessage" />
      <wsdl:fault wsaw:Action="GetSellerBuyerInvoiceUUIDList" name="EFaturaFault" message="tns:ITransferDocumentService_GetSellerBuyerInvoiceUUIDList_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionTest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferDocumentService/ConnectionTest" message="tns:ITransferDocumentService_ConnectionTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferDocumentService/ConnectionTestResponse" message="tns:ITransferDocumentService_ConnectionTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllowToUseConnector">
      <wsdl:input wsaw:Action="AllowToUseConnector" message="tns:ITransferDocumentService_AllowToUseConnector_InputMessage" />
      <wsdl:output wsaw:Action="AllowToUseConnector" message="tns:ITransferDocumentService_AllowToUseConnector_OutputMessage" />
      <wsdl:fault wsaw:Action="AllowToUseConnector" name="EFaturaFault" message="tns:ITransferDocumentService_AllowToUseConnector_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSessionAccountRegisterNumber">
      <wsdl:input wsaw:Action="CheckSessionAccountRegisterNumber" message="tns:ITransferDocumentService_CheckSessionAccountRegisterNumber_InputMessage" />
      <wsdl:output wsaw:Action="CheckSessionAccountRegisterNumber" message="tns:ITransferDocumentService_CheckSessionAccountRegisterNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="CheckSessionAccountRegisterNumber" name="EFaturaFault" message="tns:ITransferDocumentService_CheckSessionAccountRegisterNumber_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSeries">
      <wsdl:input wsaw:Action="CustomerSeries" message="tns:ITransferDocumentService_CustomerSeries_InputMessage" />
      <wsdl:output wsaw:Action="CustomerSeries" message="tns:ITransferDocumentService_CustomerSeries_OutputMessage" />
      <wsdl:fault wsaw:Action="CustomerSeries" name="EFaturaFault" message="tns:ITransferDocumentService_CustomerSeries_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerInformation">
      <wsdl:input wsaw:Action="CustomerInformation" message="tns:ITransferDocumentService_CustomerInformation_InputMessage" />
      <wsdl:output wsaw:Action="CustomerInformation" message="tns:ITransferDocumentService_CustomerInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="CustomerInformation" name="EFaturaFault" message="tns:ITransferDocumentService_CustomerInformation_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceStatusForConnector">
      <wsdl:input wsaw:Action="GetInvoiceStatusForConnector" message="tns:ITransferDocumentService_GetInvoiceStatusForConnector_InputMessage" />
      <wsdl:output wsaw:Action="GetInvoiceStatusForConnector" message="tns:ITransferDocumentService_GetInvoiceStatusForConnector_OutputMessage" />
      <wsdl:fault wsaw:Action="GetInvoiceStatusForConnector" name="EFaturaFault" message="tns:ITransferDocumentService_GetInvoiceStatusForConnector_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalesInvoices">
      <wsdl:input wsaw:Action="SalesInvoices" message="tns:ITransferDocumentService_SalesInvoices_InputMessage" />
      <wsdl:output wsaw:Action="SalesInvoices" message="tns:ITransferDocumentService_SalesInvoices_OutputMessage" />
      <wsdl:fault wsaw:Action="SalesInvoices" name="EFaturaFault" message="tns:ITransferDocumentService_SalesInvoices_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseInvoices">
      <wsdl:input wsaw:Action="PurchaseInvoices" message="tns:ITransferDocumentService_PurchaseInvoices_InputMessage" />
      <wsdl:output wsaw:Action="PurchaseInvoices" message="tns:ITransferDocumentService_PurchaseInvoices_OutputMessage" />
      <wsdl:fault wsaw:Action="PurchaseInvoices" name="EFaturaFault" message="tns:ITransferDocumentService_PurchaseInvoices_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetToReadStatus">
      <wsdl:input wsaw:Action="SetToReadStatus" message="tns:ITransferDocumentService_SetToReadStatus_InputMessage" />
      <wsdl:output wsaw:Action="SetToReadStatus" message="tns:ITransferDocumentService_SetToReadStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="SetToReadStatus" name="EFaturaFault" message="tns:ITransferDocumentService_SetToReadStatus_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetToTransferredErpStatus">
      <wsdl:input wsaw:Action="SetToTransferredErpStatus" message="tns:ITransferDocumentService_SetToTransferredErpStatus_InputMessage" />
      <wsdl:output wsaw:Action="SetToTransferredErpStatus" message="tns:ITransferDocumentService_SetToTransferredErpStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="SetToTransferredErpStatus" name="EFaturaFault" message="tns:ITransferDocumentService_SetToTransferredErpStatus_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInvoiceSerie">
      <wsdl:input wsaw:Action="AddInvoiceSerie" message="tns:ITransferDocumentService_AddInvoiceSerie_InputMessage" />
      <wsdl:output wsaw:Action="AddInvoiceSerie" message="tns:ITransferDocumentService_AddInvoiceSerie_OutputMessage" />
      <wsdl:fault wsaw:Action="AddInvoiceSerie" name="EFaturaFault" message="tns:ITransferDocumentService_AddInvoiceSerie_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoiceSerie">
      <wsdl:input wsaw:Action="DeleteInvoiceSerie" message="tns:ITransferDocumentService_DeleteInvoiceSerie_InputMessage" />
      <wsdl:output wsaw:Action="DeleteInvoiceSerie" message="tns:ITransferDocumentService_DeleteInvoiceSerie_OutputMessage" />
      <wsdl:fault wsaw:Action="DeleteInvoiceSerie" name="EFaturaFault" message="tns:ITransferDocumentService_DeleteInvoiceSerie_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerInfoUpdate">
      <wsdl:input wsaw:Action="CustomerInfoUpdate" message="tns:ITransferDocumentService_CustomerInfoUpdate_InputMessage" />
      <wsdl:output wsaw:Action="CustomerInfoUpdate" message="tns:ITransferDocumentService_CustomerInfoUpdate_OutputMessage" />
      <wsdl:fault wsaw:Action="CustomerInfoUpdate" name="EFaturaFault" message="tns:ITransferDocumentService_CustomerInfoUpdate_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadInvoice">
      <wsdl:input wsaw:Action="DownloadInvoice" message="tns:ITransferDocumentService_DownloadInvoice_InputMessage" />
      <wsdl:output wsaw:Action="DownloadInvoice" message="tns:ITransferDocumentService_DownloadInvoice_OutputMessage" />
      <wsdl:fault wsaw:Action="DownloadInvoice" name="EFaturaFault" message="tns:ITransferDocumentService_DownloadInvoice_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvoiceContent">
      <wsdl:input wsaw:Action="InvoiceContent" message="tns:ITransferDocumentService_InvoiceContent_InputMessage" />
      <wsdl:output wsaw:Action="InvoiceContent" message="tns:ITransferDocumentService_InvoiceContent_OutputMessage" />
      <wsdl:fault wsaw:Action="InvoiceContent" name="EFaturaFault" message="tns:ITransferDocumentService_InvoiceContent_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvoiceSerieUp">
      <wsdl:input wsaw:Action="InvoiceSerieUp" message="tns:ITransferDocumentService_InvoiceSerieUp_InputMessage" />
      <wsdl:output wsaw:Action="InvoiceSerieUp" message="tns:ITransferDocumentService_InvoiceSerieUp_OutputMessage" />
      <wsdl:fault wsaw:Action="InvoiceSerieUp" name="EFaturaFault" message="tns:ITransferDocumentService_InvoiceSerieUp_EFaturaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveSystem">
      <wsdl:input wsaw:Action="ActiveSystem" message="tns:ITransferDocumentService_ActiveSystem_InputMessage" />
      <wsdl:output wsaw:Action="ActiveSystem" message="tns:ITransferDocumentService_ActiveSystem_OutputMessage" />
      <wsdl:fault wsaw:Action="ActiveSystem" name="EFaturaFault" message="tns:ITransferDocumentService_ActiveSystem_EFaturaFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITransferDocumentService" type="tns:ITransferDocumentService">
    <wsp:PolicyReference URI="#CustomBinding_ITransferDocumentService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap12:operation soapAction="Transfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TransferByInvoiceString">
      <soap12:operation soapAction="TransferByInvoiceString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceStatus">
      <soap12:operation soapAction="GetInvoiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPassivePeriodInvoiceStatus">
      <soap12:operation soapAction="GetPassivePeriodInvoiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchStatus">
      <soap12:operation soapAction="GetDespatchStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBuyerInvoiceXmlContent">
      <soap12:operation soapAction="GetBuyerInvoiceXmlContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvoiceContent">
      <soap12:operation soapAction="ReceiveInvoiceContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvoiceContentDone">
      <soap12:operation soapAction="ReceiveInvoiceContentDone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceivePassivePeriodInvoiceContent">
      <soap12:operation soapAction="ReceivePassivePeriodInvoiceContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceivePassivePeriodInvoiceContentDone">
      <soap12:operation soapAction="ReceivePassivePeriodInvoiceContentDone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDespatchContent">
      <soap12:operation soapAction="ReceiveDespatchContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AnswerReceiveDespatchContent">
      <soap12:operation soapAction="AnswerReceiveDespatchContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AnswerBuyerDespatchContent">
      <soap12:operation soapAction="AnswerBuyerDespatchContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDespatchContentDone">
      <soap12:operation soapAction="ReceiveDespatchContentDone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnReadInvoiceUUIdList">
      <soap12:operation soapAction="GetUnReadInvoiceUUIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceXmlContent">
      <soap12:operation soapAction="GetInvoiceXmlContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnReadDespatchUUIdList">
      <soap12:operation soapAction="GetUnReadDespatchUUIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchXmlContent">
      <soap12:operation soapAction="GetDespatchXmlContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnReadInvoiceUUIdListbyDate">
      <soap12:operation soapAction="GetUnReadInvoiceUUIdListbyDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBuyerInvoiceUUIdListbyDate">
      <soap12:operation soapAction="GetBuyerInvoiceUUIdListbyDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWaitApproveInvoiceUUIdList">
      <soap12:operation soapAction="GetWaitApproveInvoiceUUIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetInvoiceResponse">
      <soap12:operation soapAction="SetInvoiceResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWaitApproveDespatchUUIdList">
      <soap12:operation soapAction="GetWaitApproveDespatchUUIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetDespatchResponse">
      <soap12:operation soapAction="SetDespatchResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerList">
      <soap12:operation soapAction="GetAllCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIsThereCustomer">
      <soap12:operation soapAction="CheckIsThereCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ViewDocumentFromUUID">
      <soap12:operation soapAction="ViewDocumentFromUUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ViewDespatchDocumentFromUUID">
      <soap12:operation soapAction="ViewDespatchDocumentFromUUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ViewDespatchAnswerDocumentFromUUID">
      <soap12:operation soapAction="ViewDespatchAnswerDocumentFromUUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSellerBuyerInvoiceUUIDList">
      <soap12:operation soapAction="GetSellerBuyerInvoiceUUIDList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConnectionTest">
      <soap12:operation soapAction="http://tempuri.org/ITransferDocumentService/ConnectionTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllowToUseConnector">
      <soap12:operation soapAction="AllowToUseConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckSessionAccountRegisterNumber">
      <soap12:operation soapAction="CheckSessionAccountRegisterNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomerSeries">
      <soap12:operation soapAction="CustomerSeries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomerInformation">
      <soap12:operation soapAction="CustomerInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceStatusForConnector">
      <soap12:operation soapAction="GetInvoiceStatusForConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SalesInvoices">
      <soap12:operation soapAction="SalesInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseInvoices">
      <soap12:operation soapAction="PurchaseInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetToReadStatus">
      <soap12:operation soapAction="SetToReadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetToTransferredErpStatus">
      <soap12:operation soapAction="SetToTransferredErpStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddInvoiceSerie">
      <soap12:operation soapAction="AddInvoiceSerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoiceSerie">
      <soap12:operation soapAction="DeleteInvoiceSerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomerInfoUpdate">
      <soap12:operation soapAction="CustomerInfoUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DownloadInvoice">
      <soap12:operation soapAction="DownloadInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InvoiceContent">
      <soap12:operation soapAction="InvoiceContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InvoiceSerieUp">
      <soap12:operation soapAction="InvoiceSerieUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActiveSystem">
      <soap12:operation soapAction="ActiveSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFaturaFault">
        <soap12:fault use="literal" name="EFaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferDocumentService">
    <wsdl:port name="CustomBinding_ITransferDocumentService" binding="tns:CustomBinding_ITransferDocumentService">
      <soap12:address location="http://transfertest.veriban.com.tr/TransferDocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>