Uyumsoft/Connected Services/ServiceUyumsoft/Integration6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efatura-test.uyumsoft.com.tr/Services/Integration?xsd=xsd6" namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" />
  <xs:complexType name="IdentifierType">
    <xs:simpleContent>
      <xs:extension xmlns:q1="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q1:IdentifierType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IndicatorType">
    <xs:simpleContent>
      <xs:extension base="xs:boolean" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:simpleContent>
      <xs:extension base="xs:date" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeType">
    <xs:simpleContent>
      <xs:extension base="xs:time" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:simpleContent>
      <xs:extension xmlns:q2="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q2:CodeType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:simpleContent>
      <xs:extension xmlns:q3="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q3:TextType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:simpleContent>
      <xs:extension xmlns:q4="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q4:TextType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NumericType">
    <xs:simpleContent>
      <xs:extension xmlns:q5="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q5:NumericType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ValueType">
    <xs:simpleContent>
      <xs:extension xmlns:q6="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q6:NumericType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RateType">
    <xs:simpleContent>
      <xs:extension xmlns:q7="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q7:NumericType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PercentType">
    <xs:simpleContent>
      <xs:extension xmlns:q8="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q8:NumericType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:simpleContent>
      <xs:extension xmlns:q9="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q9:MeasureType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryObjectType">
    <xs:simpleContent>
      <xs:extension xmlns:q10="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q10:BinaryObjectType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GraphicType">
    <xs:simpleContent>
      <xs:extension xmlns:q11="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q11:BinaryObjectType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PictureType">
    <xs:simpleContent>
      <xs:extension xmlns:q12="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q12:BinaryObjectType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SoundType">
    <xs:simpleContent>
      <xs:extension xmlns:q13="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q13:BinaryObjectType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VideoType">
    <xs:simpleContent>
      <xs:extension xmlns:q14="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q14:BinaryObjectType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension xmlns:q15="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q15:AmountType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:simpleContent>
      <xs:extension xmlns:q16="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" base="q16:QuantityType" />
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>