Logo/Connected Services/ServiceLogo/PostBoxService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pb.diyalogo.com.tr/PostBoxService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eFaturaWebService" />
  <xs:import schemaLocation="https://pb.diyalogo.com.tr/PostBoxService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eFaturaCoreLib.Common" />
  <xs:import schemaLocation="https://pb.diyalogo.com.tr/PostBoxService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CommonLib.Helpers" />
  <xs:import schemaLocation="https://pb.diyalogo.com.tr/PostBoxService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
  <xs:import schemaLocation="https://pb.diyalogo.com.tr/PostBoxService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ALive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ALiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ALiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="login" nillable="true" type="q1:LoginType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="envelope" nillable="true" type="q2:DocumentType" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendEnvelopeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="invoice" nillable="true" type="q3:DocumentType" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="appResp" nillable="true" type="q4:DocumentType" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendApplicationResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendApplicationResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEnvelopeEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="envelope" nillable="true" type="q5:DocumentType" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEnvelopeExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendEnvelopeExResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendInvoiceEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="invoice" nillable="true" type="q6:DocumentType" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendInvoiceExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendInvoiceExResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSignedInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="invoice" nillable="true" type="q7:DocumentType" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSignedInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendSignedInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendApplicationResponseEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="appResp" nillable="true" type="q8:DocumentType" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendApplicationResponseExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendApplicationResponseExResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEArchiveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q9:DocumentType" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eFaturaCoreLib.Common" minOccurs="0" name="docType" type="q10:EArchiveDocumentTypes" />
        <xs:element minOccurs="0" name="isSigned" type="xs:boolean" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsltUuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEArchiveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendEArchiveDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveDocumentResult" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q11:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveDoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveInvoiceResult" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q12:ElementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveInvoiceDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveInvoiceDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveInvoiceDoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveApplicationResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveApplicationResponseResult" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q13:ElementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveApplicationResponseDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveApplicationResponseDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveApplicationResponseDoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="envelopeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicationResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getApplicationResponseResult" type="xs:boolean" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q14:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInvoiceStatusResult" type="xs:boolean" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommonLib.Helpers" minOccurs="0" name="status" type="q15:InvoiceStatus" />
        <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="envelopeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppRespStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppRespStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAppRespStatusResult" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/eFaturaCoreLib.Common" minOccurs="0" name="status" type="q16:AppRespStatus" />
        <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="envelopeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnvelopeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="opType" type="q17:SendRecvType" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/eFaturaCoreLib.Common" minOccurs="0" name="dateBy" type="q18:PostBoxDateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnvelopeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEnvelopeListResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="envelopeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="getEnvelopeResult" nillable="true" type="q20:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="opType" type="q21:SendRecvType" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/eFaturaCoreLib.Common" minOccurs="0" name="dateBy" type="q22:InvoiceDateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getInvoiceListResult" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="getInvoiceResult" nillable="true" type="q24:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="login" nillable="true" type="q25:LoginType" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="listType" type="q26:UserListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="getUserListResult" nillable="true" type="q27:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="login" nillable="true" type="q28:LoginType" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="listType" type="q29:UserListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="getUserListNewResult" nillable="true" type="q30:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApprovalFlowList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApprovalFlowListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getApprovalFlowListResult" type="xs:boolean" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q31:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setApprovalFlowId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowId" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setApprovalFlowIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setApprovalFlowIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApprovalFlowRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowId" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApprovalFlowResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getApprovalFlowResResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="flowRes" type="xs:int" />
        <xs:element minOccurs="0" name="flowAction" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docType" type="xs:int" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relRef" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="respStatus" type="xs:int" />
        <xs:element minOccurs="0" name="responseCode" type="xs:int" />
        <xs:element minOccurs="0" name="responseDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="envelopeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentStatusEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docType" type="xs:int" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relRef" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentStatusExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="respStatus" type="xs:int" />
        <xs:element minOccurs="0" name="responseCode" type="xs:int" />
        <xs:element minOccurs="0" name="responseDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="envelopeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEArchiveXslt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEArchiveXsltResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEArchiveXsltResult" type="xs:boolean" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q32:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceApplicationResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInvoiceApplicationResponseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInvoiceResponseDataResult" type="xs:boolean" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q33:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setApplicationResponseOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="option" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setApplicationResponseOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setApplicationResponseOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEArchiveInvoicePdfData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allInvoicesOrJustSigned" type="xs:boolean" />
        <xs:element minOccurs="0" name="isCanceled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEArchiveInvoicePdfDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEArchiveInvoicePdfDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="pdfData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="docType" type="q34:GetDocumentType" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="dataType" type="q35:DocumentDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="getDocumentDataResult" nillable="true" type="q36:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReconciliationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="begDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="begNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="opType" type="q37:SendRecvType" />
        <xs:element minOccurs="0" name="docType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReconciliationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="getReconciliationListResult" nillable="true" type="q38:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendReconciliationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="report" nillable="true" type="q39:DocumentType" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendReconciliationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendReconciliationReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createElementId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoicePrefix" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="docType" type="q40:GetDocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createElementIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createElementIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelEArchiveInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelEArchiveInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelEArchiveInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEArchiveListForReconcilition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="invoiceList" nillable="true" type="q41:ArrayOfReconInvoiceType" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CommonLib" minOccurs="0" name="invoiceType" type="q42:InvoiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEArchiveListForReconcilitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEArchiveListForReconcilitionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q43:ArrayOfstring" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q44:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="SendDocumentResult" nillable="true" type="q45:eFaturaWebService.ResultType" />
        <xs:element minOccurs="0" name="refId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="GetDocumentResult" nillable="true" type="q47:eFaturaWebService.ResultType" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q48:ElementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="GetDocumentDoneResult" nillable="true" type="q50:eFaturaWebService.ResultType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q51:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="GetDocumentStatusResult" nillable="true" type="q52:eFaturaWebService.ResultType" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="statusInfo" nillable="true" type="q53:DocumentStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="GetDocumentDataResult" nillable="true" type="q55:eFaturaWebService.ResultType" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="document" nillable="true" type="q56:DocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="GetDocumentListResult" nillable="true" type="q58:eFaturaWebService.ResultType" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="docList" nillable="true" type="q59:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateGIBUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paramList" nillable="true" type="q60:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateGIBUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="GetValidateGIBUserResult" nillable="true" type="q61:eFaturaWebService.ResultType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGibUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vknTcknList" nillable="true" type="q62:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGibUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="CheckGibUserResult" nillable="true" type="q63:eFaturaWebService.ResultType" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/eFaturaWebService" minOccurs="0" name="userList" nillable="true" type="q64:ArrayOfGibUserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>