Uyumsoft/Connected Services/ServiceUyumsoftProducerReceiptIntegration/ProducerReceiptIntegration7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/ProducerReceiptIntegration?xsd=xsd5" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/ProducerReceiptIntegration?xsd=xsd7" namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" />
  <xs:element name="UBLExtensions" type="tns:ArrayOfUBLExtensionType" />
  <xs:complexType name="ArrayOfUBLExtensionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UBLExtension" type="tns:UBLExtensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UBLExtensionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionContent" type="tns:ExtensionContentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionContentType">
    <xs:sequence>
      <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q1:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionVersionIDType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q2:IdentifierType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtensionAgencyIDType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q3:IdentifierType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtensionAgencyURIType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q4:IdentifierType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtensionURIType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q5:IdentifierType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtensionReasonCodeType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q6:CodeType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtensionReasonType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q7:TextType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExtensionAgencyNameType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2" base="q8:TextType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>